.newProductContainer {
  background-color: white;
  padding: 1.5vmax;
}

.confirmOrderPage {
  padding-top: 5vmax;
  padding-bottom: 0%;
}

.orderDetailsContainerBox,
.confirmCartItemsContainer {
  margin: 2vmax;
}

.orderDetailsContainerBox > div {
  display: flex;
  margin: 1vmax 0;
}

.confirmshippingArea > p {
  font: 400 2vw "Roboto";
}

.orderDetailsContainerBox > div > p {
  font: 400 1.5vmax "Roboto";
  color: black;
}
.orderDetailsContainerBox > div > span {
  margin: 0 1vmax;
  font: 100 1.5vmax "Roboto";
  color: #575757;
}

.confirmCartItems > p {
  font: 400 2vmax "Roboto";
}

.confirmCartItems {
  padding: 2vmax 1vmax;
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.confirmCartItemsContainer > div {
  display: flex;
  justify-content: space-between;
  font: 400 1.5vmax "Roboto";
  align-items: center;
  margin: 2vmax 0;
}

.confirmCartItemsContainer > div > img {
  width: 5vmax;
}

.confirmCartItemsContainer > div > a {
  color: #575757;
  width: 60%;
  text-decoration: none;

  display: flex;
  justify-content: center;
}

.confirmCartItemsContainer > div > span {
  font: 100 1.5vmax "Roboto";
  color: #5e5e5e;
}

.updateOrderForm {
  margin: 5vmax 0;
  padding: 3vmax;
  background-color: white;
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updateOrderForm > div > select {
  padding: 1vmax 4vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

@media screen and (max-width: 600px) {
  .confirmshippingArea > p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsContainerBox > div {
    margin: 6vw 0;
  }

  .orderDetailsContainerBox > div > p {
    font: 400 4vw "Roboto";
  }
  .orderDetailsContainerBox > div > span {
    font: 100 4vw "Roboto";
  }

  .confirmCartItems > p {
    font: 400 6vw "Roboto";
  }

  .confirmCartItemsContainer > div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .confirmCartItemsContainer > div > img {
    width: 10vw;
  }

  .confirmCartItemsContainer > div > a {
    margin: 2vw;
    width: 30%;
  }

  .confirmCartItemsContainer > div > span {
    font: 100 4vw "Roboto";
  }

  .updateOrderForm {
    padding: 5vmax;
  }

  .updateOrderForm > div > select {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .updateOrderForm > div > svg {
    font-size: 2.8vmax;
  }
}
