.productCard {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  filter: drop-shadow(1px 2px 6px gray);
}

.productCard > img {
  width: 15vmax;
  height: 18vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.7vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.8vmax;
  text-align: center;
}

.productCard > div > span {
  margin: 0 0.5vmax;
  font: 300 1.5vmax "Roboto";
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
